* {
  font-family: Bubble Bobble;
}

/* QWidget#player4_widget{
    border-style: solid; 
    border-width: 5px; 
    border-color: red;
} */

QPushButton#join_game_pushbutton{
    font-size: 80pt;
}
QPushButton#create_game_pushbutton{
    font-size: 80pt;
}

QPushButton#waiting_label{
    font-size: 12pt;
}
